/* Navbar */
.navbar + .docs-section {
  border-top-width: 0;
}

.navbar,
.navbar-spacer {
  font-family: "Open Sans", sans-serif;
  display: block;
  width: 100%;
  height: 6.5rem;
  background: #fff;
  z-index: 99;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: 40px;
}

.navbar-spacer {
  display: none;
}

.navbar > .container {
  width: 100%;
}

.navbar-list {
  list-style: none;
  margin-bottom: 0;
}

.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0;
}

.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 6.5rem;
  color: #222;
}

.navbar-link.active {
  color: #669999;
}

.navbar-item:hover .popover {
  display: block;
}

.popover {
  display: none;
  position: absolute;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
  top: 92%;
  left: -50%;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, .1));
  z-index: 100;
}

.popover-item .popover-link:after,
.popover-item .popover-link:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.popover-item .popover-link:after {
  border: 10px rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  margin-left: -10px;
}

.popover-item .popover-link:before {
  border: 11px rgba(238, 238, 238, 0);
  border-bottom-color: #eee;
  margin-left: -11px;
}

.popover-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.popover-item {
  padding: 0;
  margin: 0;
}

.popover-link {
  position: relative;
  color: #222;
  display: block;
  padding: 8px 20px;
  border-bottom: 1px solid #eee;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.0rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: .1rem;
  white-space: nowrap;
}

.popover-item .popover-link {
  border-radius: 4px 4px 0 0;
}

.popover-item:last-child .popover-link {
  border-radius: 0 0 4px 4px;
  border-bottom-width: 0;
}

.popover-link:hover {
  color: #fff;
  background: #226666;
}

.popover-link:hover,
.popover-item .popover-link:hover:after {
  border-bottom-color: #226666;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
  text-align: center;
  font-size: 4.0rem;
  padding: 10px 0;
  display: none;
}

/*Hide checkbox*/
#show-menu{
  display: none;
}
#show-menu:checked ~ .navbar{
  display: block;
}

/*Responsive Styles*/
@media screen and (max-width : 760px){
  .show-menu {
    display:block;
  }
  .navbar {
    position: static;
    display: none;
  }
  .navbar-item {
    text-align: center;
    width: 100%;
  }
  .navbar-link {
    margin: auto;
    width: 100%;
  }

  .popover {
    display: none !important;
  }
}
